.gallery{
    background: black;
    color: white;
}
.card-subtitle{
    color: white;
}
.gallery img{
    width: auto;
    margin: 20px auto;
}
.wedding-gallary-card .title{
    color: rgba(0, 0, 0, 0.411);
}