.hero-section{
    background: url(../../public/mobile-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 80vh;
}
.hero-section .content{
    letter-spacing: 3px;
    margin-top: 70%;
    color: white;
}

