.hero-section{
    background: url(../../public/mobile-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 80vh;
}
.hero-section-title{
    font-family: 'changa one', cursive;
    letter-spacing: 3px;
    margin-top: 1rem;
    font-weight: 300;
    font-size: var(--size-sm);
    color: white;
}
.hero-section-btn{
    font-size: var(--size-xs);
}
.hero-card{
    width: 90%;
    margin: auto;
    margin-top: 15%;
}
